@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  height: 220px;
  background-color: #000;
  color: wheat;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-container > a > img {
  width: 180px;
  height: 160px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  height: 100%;
}

.section > ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.section > ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.section > ol > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.section > ol > li > img {
  width: 30px;
  height: 30px;
}

.section > ol > li > p {
  color: #fff;
  font-family: 'Katibeh', cursive;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section > ul > a {
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-family: "Abril Fatface", cursive;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 414px) {
  .nav-container {
    width: 100%;
    height: 170px;
    /*     background-color: red; */
    background-color: black;
    padding: 1rem;
  }
  .nav-container > a > img {
    width: 120px;
    height: 100px;
  }
  .section > ul {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .section > ul > a {
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-family: "Abril Fatface", cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .section {
    width: 200px;
    height: 100%;
    /*     background-color: black; */
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .section > ol {
    width: 100px;
    height: 100%;
    /*     background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .section > ol > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .section > ol > li > img {
    width: 20px;
    height: 20px;
  }
  .section > ol > li > p {
    margin-top: 0px;
    text-decoration: none;
    color: #fff;
    font-family: 'Katibeh', cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
